@import "../../util/style/components";

.allEventCard__box {
  border-radius: 20px;
}
.allEventCard__box_in {
  border-radius: 20px;
  background-color: #060c21;
  width: 100%;
  height: 100%;
}

.allEventCard__box {
  @include center;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: pointer;
  position: relative;
  height: 400px;
  width: 300px;
  background-color: #060c21;
  margin: 40px;
  transition: background 2s ease-in-out;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    display: inline-block;
    transition: background 2s ease-in-out;
    border-radius: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    border-radius: 20px;
    z-index: -2;
    filter: blur(40px);
    transition: background 2s ease-in-out;
  }
}

.allEventCard__theam1 {
  &::before,
  &::after {
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
  }
}

.allEventCard__theam2 {
  &::before,
  &::after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
  }
}

.allEventCard__glass {
  border-radius: 20px 0 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.allEventCard__content {
  border-radius: 20px;
  padding: 20px;
  color: white;
  > h2 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    word-spacing: 4px;
    // transform-style: preserve-3d;
    transform: translateZ(20px);
  }
  > .allEventCard__content-img {
    @include center;
    margin-top: 40px;
    > img {
      object-fit: contain;
      height: 250px;
      border-radius: 20px;
      transition: transform 0.8s ease-in-out;
    }
  }
}

.allEventCard__box:hover .allEventCard__content-img > img {
  transform: scale(1.2);
}

// .allEventCard__box:nth-child(1):before,
// .allEventCard__box:nth-child(1):after {
//     background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
// }

// .allEventCard__box:nth-child(2):before,
// .allEventCard__box:nth-child(2):after {
//     background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
// }
// .allEventCard__box:nth-child(3):before,
// .allEventCard__box:nth-child(3):after {
//     background: linear-gradient(235deg, #772aff, #010615, #2196f3);
// }
