.allEventPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://image.freepik.com/free-photo/dark-grunge-style-scratched-metal-surface_1048-12951.jpg");
    // background: #010615;
    flex-wrap: wrap;
}
